BotConsoleClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="saveStatistic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rows" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveStatisticResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentStatByBotName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentStatByBotNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCurrentStatByBotNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>